@model IEnumerable<Subcategory>

<div class="mt-2 flex justify-between">
    <div class="text-4xl font-bold">Subcategory</div>
    <a class="cursor-pointer rounded-lg bg-orange-500 px-5 py-2.5 text-sm font-medium text-white" asp-area="Admin" asp-controller="Subcategory" asp-action="UpSert">Add New</a>
</div>
<div class="relative mt-5 overflow-x-auto rounded-lg">
    <table class="w-full text-left text-gray-500">
        <thead class="bg-gray-300 text-xl font-bold uppercase">
            <tr>
                <th scope="col" class="px-6 py-3">Id</th>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">Category</th>
                <th scope="col" class="px-6 py-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="border-b border-gray-300 bg-white hover:bg-gray-100">
                    <td class="px-6 py-3">@item.Id</td>
                    <td class="px-6 py-3">@item.Name</td>
                    <td class="px-6 py-3">@item.Category.Name</td>
                    <td class="px-6 py-3">
                        <a class="font-medium text-blue-600 hover:underline" asp-area="Admin" asp-controller="Subcategory" asp-action="Upsert" asp-route-id="@item.Id">Edit</a> |
                        <a class="cursor-pointer font-medium text-red-600 hover:underline" onclick="showDeleteAlert('/Admin/Subcategory/Delete/@item.Id')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/LoadAlert.js"></script>
}