<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UdemyClone</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UdemyClone.styles.css" asp-append-version="true" />
</head>
<body class="flex min-h-screen flex-col">
    <header>
        <nav class="flex items-center justify-between border-b border-gray-200 bg-white px-6 py-4 shadow-sm">
        <!-- logo -->
            <div class="cursor-pointer">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.svg" alt="Logo" title="EduPress" class="h-8"/></a>
            </div>
            <!-- search -->
            <div class="flex w-96 items-center rounded-full border border-gray-300 px-4 py-2 transition duration-200 focus-within:border-orange-600 focus-within:ring-2 focus-within:ring-orange-600">

                <div class="flex-grow">
                    <input class="w-full text-gray-700 outline-none" type="text" placeholder="Search for anything">
                </div>
                <div class="cursor-pointer text-gray-500 hover:text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
                </div>
            </div>
          <!-- other -->
             <div class="flex items-center space-x-6 font-medium text-gray-600">
                @if (User.IsInRole(RoleNames.Instructor))
                {
                    <div class="group relative">
                        <a asp-area="Instructor" asp-controller="Course" asp-action="Index" class="!text-gray-600 hover:!text-orange-500">Instructor</a>
                        <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                    </div>
                }
                @*  <div class="group relative">
                    <a class="!text-gray-600 hover:!text-orange-500" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                    <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </div> *@

                @* <div class="group relative">
                    <a class="!text-gray-600 hover:!text-orange-500" asp-area="Admin" asp-controller="Subcategory" asp-action="Index">Subcategory</a>
                    <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </div> *@
                @if (!User.IsInRole(RoleNames.Instructor))
                {
                    <div class="group relative">
                        <a class="!text-gray-600 hover:!text-orange-500" asp-area="User" asp-controller="Teaching" asp-action="Index">Teach on EduPress</a>
                        <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                    </div>
                }
                <div class="group relative">
                    <a class="!text-gray-600 hover:!text-orange-500" asp-area="User" asp-controller="Learning" asp-action="Index">My learning</a>
                    <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </div>
                @* <div class="group relative">
                    <a class="!text-gray-600 hover:!text-orange-500" href="#">My Learning</a>
                    <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </div> *@
                <div class="cursor-pointer rounded-full p-2 hover:bg-gray-200 hover:text-orange-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>
                </div>
                <div class="relative cursor-pointer rounded-full p-2 hover:bg-gray-200 hover:text-orange-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart-icon lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
                    <span class="absolute -top-1 -right-1 flex h-4 w-4 items-center justify-center rounded-full bg-blue-600 text-xs text-white">3</span>
                </div>
                <div class="relative cursor-pointer rounded-full p-2 hover:bg-gray-200 hover:text-orange-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell-icon lucide-bell"><path d="M10.268 21a2 2 0 0 0 3.464 0"/><path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"/></svg>
                    <span class="absolute -top-1 -right-1 flex h-4 w-4 items-center justify-center rounded-full bg-red-600 text-xs text-white">5</span>
                </div>
                @* <div class="cursor-pointer rounded-full border-2 border-orange-500 p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                </div> *@
                <partial name="_LoginPartial" />
           </div>
        </nav>
    </header>
    <div class="w-full">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="mt-auto w-full border-t bg-gray-50 text-gray-600">
        <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
            <div class="text-center text-sm">
                &copy; 2025 - UdemyClone - <a class="text-blue-600 hover:text-blue-800 hover:underline" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/ProfileDropdownList.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>